---
import Layout from '../../layouts/Layout.astro';
import ExerciseForm from '../../components/ExerciseForm.svelte';

export const prerender = false;

const { id } = Astro.params;
---

<Layout>
  <p>Exercise {id}</p>
  <ExerciseForm client:load />
</Layout>