---
import { getCollection, render } from "astro:content";
import CommentStatistics from "../../components/CommentStatistics.svelte";
import Comments from "../../components/Comments.svelte";

export const getStaticPaths = async () => {
  const recipeEntries = await getCollection("recipes");

  return recipeEntries.map((entry) => ({
    params: {
      id: entry.id?.replace(".mdx", ""),
    },
    props: {
      entry,
    },
  }));
};

const { Content } = await render(Astro.props.entry);
const { title } = Astro.props.entry.data;
---

<h1>{ title }</h1>

<CommentStatistics client:load/>

<Content />

<Comments client:load/>



