---
import { getCollection } from "astro:content";

const recipeEntries = await getCollection("recipes");
const sortedRecipes = recipeEntries.sort((a, b) => a.data.title.length - b.data.title.length);
---

<h1>Recipes</h1>
<ul>
  {sortedRecipes.map((recipe) => (
    <li><a href={`/recipes/${recipe.id}`}>{recipe.data.title}</a></li>
  ))}
</ul>