---
import Layout from '../layouts/Layout.astro';
import LanguagesList from '../components/AvailableLanguages.svelte';
---

<Layout>
	<h1>Available languages</h1>
	<LanguagesList client:load />
</Layout>

